body .landingpage .banner:before {
  content: "";
  background: url("../../../../public/images/landingpage/background/banner-bg.png");
  position: absolute;
  top: -110px;
  width: 100%;
  height: 100%;
  height: 820px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center left 50%;
  z-index: -1;
}
body .landingpage .text-primary-grediant {
  background: linear-gradient(91deg, #49B158 .53%, #7460ee 118.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
}
 .banner {
  position: relative;
  background: url("../../../../public/images/landingpage/background/animation.svg");
  max-height: 820px;
  padding-top: 30px;
  background-position: top 100px left 0;
}